*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    color: black;
    text-decoration: none;
}

button {
    cursor: pointer;
}

.bold {
    font-weight: bold;
}

a:hover {
    text-decoration-line: underline;
}

.sidebar img, .user-icon {
    border-radius: 50%;
}

.projects h2, .announcements h2, .trending h2{
    font-size: 18px;
    margin-top: 25px;
}

/* icon sizes */

.logo-icon {
    width: 35px;
    height: 35px;
}

.profile .user-icon, .trending .user-icon {
    width: 30px;
    height: 30px;
}

.nav-icon, .search-icon, .notification-icon {
    width: 25px;
    height: 25px;
}

.greeting .user-icon {
    width: 45px;
    height: 45px;
}

/* grid container */

.grid-container {
    display: grid;
    grid-template-columns: 200px minmax(300px, 1920px);
    grid-template-rows: 130px auto;
}

/* sidebar */

.sidebar {
    grid-row: 1 / 3;
    display: grid;
    grid-template-rows: 50px;
    row-gap: 35px;
    align-content: start;
    background-color: black;
}

.sidebar img {
    filter: invert(100%);
}

.logo {
    justify-self: start;
    align-self: self-end;
}

.nav-link {
    display: grid;
    grid-template-columns: 50px;
    grid-auto-flow: column;
    align-items: center;
    justify-self: start;
    color: white;
}

.nav-link span {
    justify-self: start;
}

.logo {
    font-size: 19px;
}

.logo-icon, .nav-icon {
    justify-self: center;
}

.navigation, .settings {
    font-size: 17px;
    display: grid;
    justify-items: start;
    gap: 9px;
}

/* header */

.header {
    display: grid;
    grid-template-columns: 1fr 250px;
    grid-template-rows: 55px 75px;
    column-gap: 20px;
    padding-right: 45px;
    padding-left: 20px;
    box-shadow: 0 6px 4px -2px rgb(40, 40, 40, 0.25);
}

.search-bar {
    display: grid;
    grid-template-columns: 25px 1fr;
    align-items: center;
    column-gap: 10px;
}

.search-bar input {
    background-color: rgb(230, 230, 230);
    height: 22px;
    border: none;
    border-radius: 10px / 50%;
    padding: 0 10px;
}

.profile {
    display: grid;
    grid-auto-flow: column;
    justify-items: left;
    justify-content: right;
    align-items: center;
    gap: 15px;
}

.user-icon {
    border-radius: 50%;
}

.username {
    min-width: 90px;
    max-width: 150px;
    padding: 0 10px;
}

.greeting {
    display: grid;
    grid-template-columns: 70px 1fr;
    grid-template-rows: 1fr 1fr;
    align-content: end;
}

.greeting > a {
    grid-row: 1 / 3;
    justify-self: center;
    align-self: center;
}

.greeting span {
    height: 18px;
}

.greeting span:first-of-type {
    align-self: end;
    font-size: 12px;
}

.greeting span:last-of-type {
    font-size: 18px;
}

.project-creation {
    display: grid;
    grid-auto-flow: column;
    justify-content: space-between;
    align-items: center;
}

.project-creation button {
    border: none;
    width: 70px;
    height: 30px;
    border-radius: 30px;
    font-size: 13px;
    text-align: center;
}

/* main content */

.main-content {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: repeat(2, 350px) auto;
    column-gap: 20px;
    background-color: rgb(230, 230, 230);
    padding-bottom: 50px;
}

.projects {
    grid-row: 1 / -1;
    padding-left: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-auto-rows: min-content;
    gap: 20px;
}

.projects h2 {
    margin-bottom: -10px;
    grid-column: 1 / -1;
}

.projects h3 {
    font-size: 17px;
}

.project-card {
    background: linear-gradient(90deg, black 0 10px, white 10px);
    height: 200px;
    padding: 35px 25px 25px;
    display: grid;
    grid-template-columns: 1fr repeat(3, 50px);
    border-radius: 6px / 8px;
    box-shadow: 4px 4px 4px 0 rgb(40, 40, 40, 0.25);
}

.project-title, .project-description {
    grid-column: 1 / 5;
}

.project-description {
    display: block;
    font-size: 15px;
    max-height: calc(17px * 4);
    overflow: hidden;
}

.project-card a {
    width: 25px;
    height: 25px;
    justify-self: center;
    align-self: center;
}

.project-card a:nth-of-type(1) {
    grid-column: 2 / 3;
}

.project-card a:nth-of-type(2) {
    grid-column: 3 / 4;
}

.project-card a:nth-of-type(3) {
    grid-column: 4 / 5;
}

.announcements, .trending {
    display: grid;
    grid-template-rows: 46px 1fr;
    row-gap: 10px;
    padding-right: 25px;
}

.announcements h4 {
    font-size: 13px;
}

.announcement-grid, .trending-grid {
    display: grid;
    grid-template-rows: 1fr min-content 1fr min-content 1fr;
    padding: 10px 15px;
    box-shadow: 4px 4px 4px 0 rgb(40, 40, 40, 0.25);
    background-color: white;
    border-radius: 6px/ 8px;
}

.announcement-card {
    padding: 10px 3px;
}

.announcement-description {
    font-size: 12px;
    max-height: calc(15px * 3);
    overflow: hidden;
}

.trending-grid {
    grid-template-rows: repeat(4, 1fr) !important;
}

.trending-creator {
    display: grid;
    grid-template-columns: 40px 1fr;
    grid-template-rows: 1fr 1fr;
}

.trending-creator > a {
    grid-row: 1 / 3;
    align-self: center;
}

.trending-creator span {
    font-size: 13px;
}

.trending-creator span:first-of-type {
    align-self: self-end;
}

.trending-creator span:last-of-type {
    grid-column: 2 / 3;
}